labs/nifi/homework/NiFi_Flow.json
{"flowContents":{"identifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2bc45213-d160-32da-9890-faf14ad2bb71","name":"ReplaceText","comments":"","position":{"x":-112.0,"y":104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":".*","Replacement Value":"{\n    \"event\": \"bts:subscribe\",\n    \"data\": {\n        \"channel\": \"live_orders_${CurrencyPair}\"\n    }\n}","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"2afcfe8f-32a3-3c43-b7e6-6dc431ed8fb7","name":"PutFile","comments":"","position":{"x":408.0,"y":368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/${now():format(\"yyyy-MM-dd_HH-mm\")}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"8293a4c0-4c91-3f1e-b2bc-c61d8914742e","name":"PutWebSocket","comments":"","position":{"x":-176.0,"y":368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.websocket.PutWebSocket","properties":{"websocket-session-id":"${websocket.session.id}","websocket-controller-service-id":"${websocket.controller.service.id}","websocket-message-type":"TEXT","websocket-endpoint-id":"${websocket.endpoint.id}"},"propertyDescriptors":{"websocket-session-id":{"name":"websocket-session-id","displayName":"WebSocket Session Id","identifiesControllerService":false,"sensitive":false},"websocket-controller-service-id":{"name":"websocket-controller-service-id","displayName":"WebSocket ControllerService Id","identifiesControllerService":false,"sensitive":false},"websocket-message-type":{"name":"websocket-message-type","displayName":"WebSocket Message Type","identifiesControllerService":false,"sensitive":false},"websocket-endpoint-id":{"name":"websocket-endpoint-id","displayName":"WebSocket Endpoint Id","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"5e31b7b5-9322-3bd6-a0f4-e6daf2afa215","name":"ConnectWebSocket","comments":"","position":{"x":-16.0,"y":-120.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.websocket.ConnectWebSocket","properties":{"websocket-client-controller-service":"23094bba-709f-3551-9581-7d6d98b49934","websocket-client-id":"BitstampIngestionClient"},"propertyDescriptors":{"websocket-client-controller-service":{"name":"websocket-client-controller-service","displayName":"WebSocket Client ControllerService","identifiesControllerService":true,"sensitive":false},"websocket-client-id":{"name":"websocket-client-id","displayName":"WebSocket Client Id","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["binary message"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"12ebc124-1620-3d1d-90f8-7a5332ca014e","name":"DebugFlow","comments":"","position":{"x":416.0,"y":88.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.DebugFlow","properties":{"Write Iterations":"0","No FlowFile Skip Iterations":"1","No FlowFile Exception Iterations":"0","Fail When @OnUnscheduled called":"false","No FlowFile Yield Iterations":"0","FlowFile Failure Iterations":"0","CustomValidate Pause Time":"0 sec","@OnScheduled Pause Time":"0 sec","Fail When @OnStopped called":"false","FlowFile Rollback Penalty Iterations":"0","Content Size":"1 KB","FlowFile Rollback Yield Iterations":"0","FlowFile Rollback Iterations":"0","No FlowFile Exception Class":"java.lang.RuntimeException","Ignore Interrupts When Paused":"false","Fail When @OnScheduled called":"false","@OnUnscheduled Pause Time":"0 sec","FlowFile Exception Iterations":"0","FlowFile Success Iterations":"1","@OnStopped Pause Time":"0 sec","FlowFile Exception Class":"java.lang.RuntimeException","OnTrigger Pause Time":"0 sec"},"propertyDescriptors":{"Write Iterations":{"name":"Write Iterations","displayName":"Write Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Skip Iterations":{"name":"No FlowFile Skip Iterations","displayName":"No FlowFile Skip Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Iterations":{"name":"No FlowFile Exception Iterations","displayName":"No FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"Fail When @OnUnscheduled called":{"name":"Fail When @OnUnscheduled called","displayName":"Fail When @OnUnscheduled called","identifiesControllerService":false,"sensitive":false},"No FlowFile Yield Iterations":{"name":"No FlowFile Yield Iterations","displayName":"No FlowFile Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Failure Iterations":{"name":"FlowFile Failure Iterations","displayName":"FlowFile Failure Iterations","identifiesControllerService":false,"sensitive":false},"CustomValidate Pause Time":{"name":"CustomValidate Pause Time","displayName":"CustomValidate Pause Time","identifiesControllerService":false,"sensitive":false},"@OnScheduled Pause Time":{"name":"@OnScheduled Pause Time","displayName":"@OnScheduled Pause Time","identifiesControllerService":false,"sensitive":false},"Fail When @OnStopped called":{"name":"Fail When @OnStopped called","displayName":"Fail When @OnStopped called","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Penalty Iterations":{"name":"FlowFile Rollback Penalty Iterations","displayName":"FlowFile Rollback Penalty Iterations","identifiesControllerService":false,"sensitive":false},"Content Size":{"name":"Content Size","displayName":"Content Size","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Yield Iterations":{"name":"FlowFile Rollback Yield Iterations","displayName":"FlowFile Rollback Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Iterations":{"name":"FlowFile Rollback Iterations","displayName":"FlowFile Rollback Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Class":{"name":"No FlowFile Exception Class","displayName":"No FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"Ignore Interrupts When Paused":{"name":"Ignore Interrupts When Paused","displayName":"Ignore Interrupts When Paused","identifiesControllerService":false,"sensitive":false},"Fail When @OnScheduled called":{"name":"Fail When @OnScheduled called","displayName":"Fail When @OnScheduled called","identifiesControllerService":false,"sensitive":false},"@OnUnscheduled Pause Time":{"name":"@OnUnscheduled Pause Time","displayName":"@OnUnscheduled Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Iterations":{"name":"FlowFile Exception Iterations","displayName":"FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Success Iterations":{"name":"FlowFile Success Iterations","displayName":"FlowFile Success Iterations","identifiesControllerService":false,"sensitive":false},"@OnStopped Pause Time":{"name":"@OnStopped Pause Time","displayName":"@OnStopped Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Class":{"name":"FlowFile Exception Class","displayName":"FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"OnTrigger Pause Time":{"name":"OnTrigger Pause Time","displayName":"OnTrigger Pause Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d0e9b6b7-b196-3aaf-81d4-73294d7ce0d6","name":"","source":{"id":"5e31b7b5-9322-3bd6-a0f4-e6daf2afa215","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"ConnectWebSocket","comments":""},"destination":{"id":"2bc45213-d160-32da-9890-faf14ad2bb71","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["connected"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"1ade84bd-a9bc-338a-a901-a20380e0a007","name":"","source":{"id":"2bc45213-d160-32da-9890-faf14ad2bb71","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"ReplaceText","comments":""},"destination":{"id":"8293a4c0-4c91-3f1e-b2bc-c61d8914742e","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"PutWebSocket","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"15da700f-9dc4-3d86-ad32-6e6d4d759963","name":"","source":{"id":"5e31b7b5-9322-3bd6-a0f4-e6daf2afa215","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"ConnectWebSocket","comments":""},"destination":{"id":"12ebc124-1620-3d1d-90f8-7a5332ca014e","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"DebugFlow","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["text message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"ebd0368a-727a-38f7-936b-238398f7dd0e","name":"","source":{"id":"12ebc124-1620-3d1d-90f8-7a5332ca014e","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"DebugFlow","comments":""},"destination":{"id":"2afcfe8f-32a3-3c43-b7e6-6dc431ed8fb7","type":"PROCESSOR","groupId":"bec08df2-9fa7-32c9-9a16-c515f4a93d84","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"2f2aa708-705f-33f7-8947-723cd96a8182","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/opt/gl-bigdata-procamp/bitstamp.truststore","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"bad2734d-42b9-3298-960d-a16734276cef","name":"BitstampWebSocketClient","type":"org.apache.nifi.websocket.jetty.JettyWebSocketClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-jetty-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.websocket.WebSocketService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"1.12.1"}},{"type":"org.apache.nifi.websocket.WebSocketClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"1.12.1"}}],"properties":{"max-binary-message-size":"64 kb","websocket-uri":null,"connection-timeout":"3 sec","proxy-port":null,"ssl-context-service":null,"user-name":null,"session-maintenance-interval":"10 sec","proxy-host":null,"authentication-charset":"US-ASCII","max-text-message-size":"64 kb","input-buffer-size":"4 kb"},"propertyDescriptors":{"max-binary-message-size":{"name":"max-binary-message-size","displayName":"Max Binary Message Size","identifiesControllerService":false,"sensitive":false},"websocket-uri":{"name":"websocket-uri","displayName":"WebSocket URI","identifiesControllerService":false,"sensitive":false},"connection-timeout":{"name":"connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"user-password":{"name":"user-password","displayName":"User Password","identifiesControllerService":false,"sensitive":true},"proxy-port":{"name":"proxy-port","displayName":"HTTP Proxy Port","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"user-name":{"name":"user-name","displayName":"User Name","identifiesControllerService":false,"sensitive":false},"session-maintenance-interval":{"name":"session-maintenance-interval","displayName":"Session Maintenance Interval","identifiesControllerService":false,"sensitive":false},"proxy-host":{"name":"proxy-host","displayName":"HTTP Proxy Host","identifiesControllerService":false,"sensitive":false},"authentication-charset":{"name":"authentication-charset","displayName":"Authentication Header Charset","identifiesControllerService":false,"sensitive":false},"max-text-message-size":{"name":"max-text-message-size","displayName":"Max Text Message Size","identifiesControllerService":false,"sensitive":false},"input-buffer-size":{"name":"input-buffer-size","displayName":"Input Buffer Size","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"bc521fb6-438a-3675-82ae-a32aee884ad1","name":"BitstampSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.12.1"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/opt/gl-bigdata-procamp/bitstamp.truststore","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"},{"identifier":"23094bba-709f-3551-9581-7d6d98b49934","name":"JettyWebSocketClient","comments":"","type":"org.apache.nifi.websocket.jetty.JettyWebSocketClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-jetty-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.websocket.WebSocketService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"1.12.1"}},{"type":"org.apache.nifi.websocket.WebSocketClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"1.12.1"}}],"properties":{"max-binary-message-size":"64 kb","websocket-uri":"wss://ws.bitstamp.net","connection-timeout":"3 sec","proxy-port":null,"ssl-context-service":"bc521fb6-438a-3675-82ae-a32aee884ad1","user-name":null,"session-maintenance-interval":"10 sec","proxy-host":null,"authentication-charset":"US-ASCII","max-text-message-size":"64 kb","input-buffer-size":"4 kb"},"propertyDescriptors":{"max-binary-message-size":{"name":"max-binary-message-size","displayName":"Max Binary Message Size","identifiesControllerService":false,"sensitive":false},"websocket-uri":{"name":"websocket-uri","displayName":"WebSocket URI","identifiesControllerService":false,"sensitive":false},"connection-timeout":{"name":"connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"user-password":{"name":"user-password","displayName":"User Password","identifiesControllerService":false,"sensitive":true},"proxy-port":{"name":"proxy-port","displayName":"HTTP Proxy Port","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"user-name":{"name":"user-name","displayName":"User Name","identifiesControllerService":false,"sensitive":false},"session-maintenance-interval":{"name":"session-maintenance-interval","displayName":"Session Maintenance Interval","identifiesControllerService":false,"sensitive":false},"proxy-host":{"name":"proxy-host","displayName":"HTTP Proxy Host","identifiesControllerService":false,"sensitive":false},"authentication-charset":{"name":"authentication-charset","displayName":"Authentication Header Charset","identifiesControllerService":false,"sensitive":false},"max-text-message-size":{"name":"max-text-message-size","displayName":"Max Text Message Size","identifiesControllerService":false,"sensitive":false},"input-buffer-size":{"name":"input-buffer-size","displayName":"Input Buffer Size","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"bec08df2-9fa7-32c9-9a16-c515f4a93d84"}],"variables":{"CurrencyPair":"btcusd"},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}